.bar {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 100px;
}

.title {
  margin: 20px 20px;
  margin-left: 270px;
}

.button {
  background-color: rgb(175, 68, 19);
  align-self: center;
  height: 32px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: rgba(11, 30, 59, 0.32) 0px 4px 4px -4px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 100px;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
  margin-right: 260px;
}
