.card {
  background: white;
  width: 400px;
  display: flex;
  flex-direction: column;
  margin: 150px auto;
  text-align: center;
}

.google {
  background-color: rgb(19, 175, 120);
  align-self: center;
  height: 32px;
  font-size: 14px;
  line-height: 24px;
  box-shadow: rgba(11, 30, 59, 0.32) 0px 4px 4px -4px;
  -webkit-box-pack: center;
  justify-content: center;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  color: rgb(255, 255, 255);
  font-weight: 700;
  width: 256px;
  margin-top: 32px;
  border-radius: 4px;
  border-width: initial;
  border-style: none;
  border-color: initial;
  border-image: initial;
  cursor: pointer;
}
