.jobcard {
  margin: 5px;
  width: 350px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  cursor: pointer;
}

.numberAvatar {
  background: white;
  color: darkcyan;
  font-size: 1.2rem;
}

.jobtitle {
  margin-bottom: 2px;
  color: #333;
  font-size: 0.8rem;
}

.company {
  color: #555;
  margin-bottom: 5px;
}
