.outercard {
  margin: 0 auto;
  max-width: 900px
}

.querierList {
  margin: 10px 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button {
  margin: 10px 30px;
}

.card {
  max-height: 550px;
  min-height: 40px;
  width: 380px;
  background: #eee;
  margin-right: 20px;
  padding: 5px 10px;
  overflow: scroll;
}
